/* global */

* {
  font-family: sans-serif, Arial;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  background-color: rgb(243, 224, 192);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0 20px 0;
  text-align: center;
  border-bottom: 7px solid black;
  border-top: 3px solid black;
  padding: 10px 0;
  background-color: rgb(244, 129, 129)
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  line-height: 30px;
}

footer {
  text-align: center;
  background-color: rgb(244, 129, 129);
  padding: 10px 0;
  margin-top: 20px;
  border-top: 7px solid black;
  border-bottom: 3px solid black;
  font-weight: 700;
}

/* home page */

.menu {
  text-align: center;
}

.odin {
  width: 400px; 
  margin: 0 auto;
  display: block;
  margin-top: 40px;
}

a {
  padding: 10px;
}

/* Blueberry Recipe Page */

.img-bl {
  width: 400px;
  height: 450px;
  object-fit: cover;
  object-position: top;
  border: 2px solid black;
  margin: 10px 0 30px 50px;
  border-radius: 5px;
}

.description-bl {
  background-color: rgb(184, 111, 226);
  width: 400px;
  margin-left: 100px;
  margin-bottom: 30px;
  border: 2px solid black;
  padding: 15px;
  border-radius: 5px;
}

.ingredients-bl {
  background-color: rgb(139, 152, 237);
  width: 400px;
  margin-left: 150px;
  margin-bottom: 30px;
  border: 2px solid black;
  padding: 15px;
  border-radius: 5px;
  line-height: 30px;
}

.instructions-bl {
  background-color: rgb(152, 239, 190);
  width: 400px;
  margin-left: 200px;
  border: 2px solid black;
  padding: 15px;
  border-radius: 5px;
  line-height: 30px;
}

/* Lasagna Recipe page */

.img-la {
  width: 300px;
  object-fit: cover;
  object-position: top;
  border: 2px solid black;
  margin: 10px 0 30px 50px;
  border-radius: 5px;
}

.description-la {
  background-color: rgb(239, 199, 113);
  width: 400px;
  margin-left: 100px;
  margin-bottom: 30px;
  border: 2px solid black;
  padding: 15px;
  border-radius: 5px;
  
}

.ingredients-la {
  background-color: rgb(194, 203, 98);
  width: 600px;
  margin-left: 150px;
  margin-bottom: 30px;
  border: 2px solid black;
  padding: 15px;
  border-radius: 5px;
  line-height: 30px;
}

.instructions-la {
  background-color: rgb(246, 133, 110);
  width: 800px;
  margin-left: 200px;
  border: 2px solid black;
  padding: 15px;
  border-radius: 5px;
  line-height: 30px;
}

/* Chicken Alfredo Recipe page */

.img-ch {
  width: 300px;
  object-fit: cover;
  object-position: top;
  border: 2px solid black;
  margin: 10px 0 30px 50px;
  border-radius: 5px;
}

.description-ch {
  width: 400px;
  margin-left: 100px;
  margin-bottom: 30px;
  border: 2px solid black;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(240, 247, 167);
  
}

.ingredients-ch {
  background-color: rgb(233, 218, 128);
  width: 600px;
  margin-left: 150px;
  margin-bottom: 30px;
  border: 2px solid black;
  padding: 15px;
  border-radius: 5px;
  line-height: 30px;
}

.instructions-ch {
  width: 800px;
  margin-left: 200px;
  border: 2px solid black;
  padding: 15px;
  border-radius: 5px;
  line-height: 30px;
  background-color: rgb(239, 199, 113);
}